<% content_for :main_content do %>

<h2>Showing all posts tagged with '<%= @tag.name %>'</h2>
<% @tag.posts.each do |post| %>
<div class="content-block">
  <h3><%= link_to post.title, post %></h3>
  Posted by <%= post.author %> on
  <%= post.date %>
  <p>
    <%= post.content %>
  </p>
  Tags:
  <% post.tags.each do |t| %>
    <%= link_to t.name, t %>
  <% end %>
</div>
<% end %>

<% end %>
