<% content_for :main_content do %>

<% @posts.each do |post| %>
  <div class="content-block">
    <h3><%= link_to post.title, post %></h3>
    Posted by <%= post.author %> on
    <%= post.created_at.strftime('%B %e, %G') %> at <%= post.created_at.strftime('%X') %>
    <p>
    <%= simple_format(post.content) %>
    </p>
    <div class="post-info">
    Tags:
    <% post.tags.each do |tag|%>
      <%= link_to tag.name, { :tag => tag.name } %> 
    <% end %>
    <div style="float: right"><%= link_to "#{post.comments.count} comment(s)", post_path(post, :anchor => "comments") %></div>
    </div>
  </div>
<% end %>
<% end %>
