<% content_for :main_content do %>

<%= link_to 'New Post', new_post_path %> 

<br />

<% @posts.each do |post| %>
  <div class="content-block">
    <h3><%= link_to post.title, post %></h3>
    Posted by <%= post.author %> on
    <%= post.date %>
    <p>
    <%= simple_format(post.content) %>
    </p>
    Tags: 
    <% post.tags.each do |t| %>
      <%= link_to t.name, t %> 
    <% end %>
  </div>
<% end %>

<% end %>
