<% content_for :main_content do %>

<p id="notice"><%= notice %></p>

<div class="content-block">
  <h3><%= link_to @post.title, @post %></h3>
  Posted by <%= @post.author %> on
  <%= @post.date %>
  <p>
    <%= simple_format(@post.content) %>
  </p>
  Tags:
  <% @post.tags.each do |tag|%>
    <%= tag.name %>
  <% end %>
  
  <br />
  <%= link_to 'Edit', edit_post_path(@post) %> |
  <%= link_to 'Back', posts_path %>
</div>
<div id="comments" class="content-block">
  <h3><%= @post.comments.count %> Comment(s)</h3>
  <%= render :partial => "comments/comment",
            :collection => @post.comments %>

  <h3>Add a comment:</h3>
  <%= render "comments/form" %>
  
</div>
<% end %>
