<!DOCTYPE html>
<html>
<head>
  <title>Tien H. Nguyen</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="container">
    <div id="header">
      <%= render :partial => "layouts/header" %>
    </div>

    <div id="main-content">
      <%= yield :main_content %>
    </div>

    <div id="sidebar">
      <%= render :partial => "layouts/sidebar" %>
    </div>

    <div class="clear"></div>

    <div id="footer">
      <%= render :partial => "layouts/footer" %>
    </div>
  </div>
</body>
</html>
